<div class="show">Book was successfully created.</div>


<div>Title:<%= @book.title %></div>
<div>Body:<%= @book.body %></div>


<%= link_to"edit",edit_book_path(@book)%>
<%= link_to"back",books_path %>